@media all and (max-width: 450px) {
    html {
        background-color: #0c0c0c;
    }

    body {
        text-align: justify;
    }

    .foto1 {
        display: none;
    }

    .foto2 {
        display: flex;
    }

    .header {
        width: 60%;
        margin: 0 0 10px 20px;
    }

    h1 {
        font-size: x-large;
    }

    h2 {
        font-size: large;
    }

    .aboutMe {
        width: 85%;
    }

    .wrapperSkillsEducation {
        width: 100%;
        flex-direction: column;
    }

    .skills {
        width: 80%;
        margin: 0;
    }

    .education {
        width: 80%;
    }

    .workExperienceAndInfo {
        width: 85%;
        flex-direction: column;
    }

    .info {
        font-size: large;
    }

    .info ul li {
        font-size: xx-large;
        margin-left: 14px;
        padding: 0px;
    }

    img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
}






