body {
    margin: 0;
    background: url(../image/backgroundImage.jpg) no-repeat;
    background-size: 100%;
    font-family: "Calisto MT", sans-serif;
    color: #b8aaaa;
}

.portfolio {
    width: 70%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: xxx-large;
    margin: 0;
    background: linear-gradient(45deg, #0D61BC 33%, #8AA9D6 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #8AA9D6;
}

h2 {
    margin-top: 20px;
    background: linear-gradient(45deg, #0D61BC 33%, #8AA9D6 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #8AA9D6;
}

a {
    text-decoration: none;
}

a:hover h2 {
    background: linear-gradient(45deg, #9d08f5 33%, #c69be0 66%, #6c537c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #c69be0;
}

.info {
    align-self: flex-end;
    font-size: xxx-large;
    background: linear-gradient(45deg, #0D61BC 33%, #8AA9D6 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #8AA9D6;
}

.info ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

a:hover {
    background: linear-gradient(45deg, #9d08f5 33%, #c69be0 66%, #6c537c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #c69be0;
}

.info ul li {
    list-style-type: none;
    display: inline;
    margin-left: 30px;
    padding: 5px;
}

@media all and (max-width: 1024px) {
    html {
        background-color: #0c0c0c;
    }

    .portfolio {
        width: 90%;
        margin: 0 0 20px 20px;
    }

    .string {
        width: 70%;
    }

    .info {
        width: 100%;
        font-size: xx-large;
        align-self: center;

    }

    .info ul li {
        margin-left: 15px;
    }

}


@media all and (max-width: 450px) {
    html {
        background-color: #0c0c0c;
    }

    body {
        text-align: justify;
    }

    h1 {
        font-size: xx-large;
    }

}